// Copic Sketch

// F

$FRV1: rgb(245, 164, 199);

$FYR1: rgb(253, 204, 153);

$FY1: rgb(255, 247, 151);

$FYG1: rgb(207, 221, 161);

$FV2: rgb(128, 116, 181);

$FVG2: rgb(128, 116, 181);

$FBG2: rgb(100, 203, 231);

$FB2: rgb(0, 143, 207);

// C

$C00: rgb(228, 237, 240);

$C0: rgb(221, 230, 234);

$C1: rgb(216, 226, 231);

$C2: rgb(202, 214, 221);

$C3: rgb(190, 201, 210);

$C4: rgb(164, 179, 189);

$C5: rgb(145, 159, 169);

$C6: rgb(124, 139, 149);

$C7: rgb(98, 112, 121);

$C8: rgb(82, 93, 101);

$C9: rgb(59, 70, 78);

$C10: rgb(34, 43, 50);

// T

$T0: rgb(235, 235, 236);

$T1: rgb(233, 233, 231);

$T2: rgb(224, 225, 221);

$T3: rgb(210, 210, 203);

$T4: rgb(188, 187, 184);

$T5: rgb(168, 167, 161);

$T6: rgb(148, 147, 143);

$T7: rgb(119, 118, 115);

$T8: rgb(99, 98, 96);

$T9: rgb(77, 75, 73);

$T10: rgb(50, 48, 46);

// N

$N0: rgb(50, 48, 46);

$N1: rgb(226, 227, 228);

$N2: rgb(218, 219, 220);

$N3: rgb(209, 211, 212);

$N4: rgb(188, 190, 192);

$N5: rgb(167, 169, 172);

$N6: rgb(147, 149, 152);

$N7: rgb(119, 120, 123);

$N8: rgb(99, 100, 102);

$N9: rgb(77, 77, 79);

$N10: rgb(51, 49, 50);

// B

$B0000: rgb();

$B000: rgb();

$B00: rgb();

$B01: rgb();

$B02: rgb();

$B04: rgb();

$B05: rgb();

$B06: rgb();

$B12: rgb();

$B14: rgb();

$B16: rgb();

$B18: rgb();

$B21: rgb();

$B23: rgb();

$B24: rgb();

$B26: rgb();

$B28: rgb();

$B29: rgb();

$B32: rgb();

$B34: rgb();

$B37: rgb();

$B39: rgb();

$B41: rgb();

$B45: rgb();

$B52: rgb();






